*{	margin: 0;
    box-sizing: border-box;}
    
html {
font-size: 62.3%;
font-family: 'Fira Sans Condensed', sans-serif;
}

a {
text-decoration: none;
color: inherit;
}

h1 {
    font-family: 'Fira Sans Condensed 900', sans-serif; 
    color:white;
   font-size: 40px;
   text-align: center;
}

ul {list-style: none;}

.pepe{
    text-align: center;
}