.historia-banda {width:95%;
    height: 900px;
    margin: auto;
    background-color: rgb(8, 128, 128);
    background-image: url(https://3.bp.blogspot.com/-UGXGiS9fwus/WYOTOYwzSJI/AAAAAAAAC6M/danwas_s3Qoq99O55U-pNLa0_M68mokbgCLcBGAs/s1600/FotoLaVElaNueva.jpg);
    padding-top: 30px;}

.historia-banda p {color:white;
 width:80%;
text-align: left;
margin: auto;
margin-top: 20px;
line-height: 4rem;
font-size: 2.5rem;
background-color: rgba(168, 168, 168, 0.562);
padding-left:30px ;
padding-right:30px; 
padding-top:20px;}