.proximos-shows {width:95%;
    height: 320px;
    margin: auto;
 
    background-color: rgb(8, 128, 128);
    padding-top: 40px;
    }

.proximos-shows ul { padding-top: 50px;
padding-left: 0;}

.proximos-shows ul li { width: 33.3%;
    float: left;    
   display:block;
color: white;
font-size:18px;
text-align: center;
padding: 0;
line-height: 35px;}

.Fecha { font-family: 'Fira Sans Condensed 700', sans-serif;
    width: 100%;
    font-size:40px;
background-color: white;
color:rgb(8, 128, 128);  }